<div class="devise-views">
  <div class="devise-views__box">
    <p class="sign-up">アカウント編集</p>


    <h2 style="display:none;">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__form"  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(変更がなければ空欄でOK)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "field__form"  %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field__form"  %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(現在のパスワードを入力してください)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "field__form"  %>
      </div>

      <div class="actions">
        <%= f.submit "更新する", class: "actions--btn" %>
      </div>
    <% end %>
    
    <div style="padding:0 20px 20px;">
      <h3 style="margin-bottom:20px;">アカウントを削除する</h3>

      <p style="margin-bottom:20px;display:none;">本当に削除しますか? <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: "margin-bottom:20px;", class:"delete-btn"%></p>

      <%= link_to "戻る", :back %>
    </div>
    
  </div>
</div>