.main
  .main-top
    = render partial: "/shared/header_bottom"

  .themes-show
    選択中のテーマ
    %span.theme-link
      %span.theme-tag
        = @theme.name
    %span.themes-pagenation
      ページ番号
      = paginate(@themes)

    
  .themes-show__contents
    - if (@themes.count == 0)
      まだ投稿がありません
    - else
      - @themes.each do |post|
        = render partial: "/posts/post", locals: { post: post }


  = link_to "Back", :back, class: "back"