.users-index
  .users-index__wrapper
    .all-users
      - @users.each_with_index do |user|
        = link_to user_path(user), class: "all-users__show" do
          - unless user.avator.file.nil?
            = image_tag asset_path(user.avator.thumb), class: "all-users__show__user-avator"
          - else
            = image_tag asset_path("no_img.png"), class: "all-users__show__user-avator"
          %span.all-users__show__user-nickname
            = user.nickname

    = render "/shared/page_back"


