<div class="main">
  <div class="main-content second">
    <div class="main-content__box">

      <p class="post-notion">ユーザー詳細ページ ( <%= @nickname %> さんの投稿一覧 )</p>

      <ul class="box-list">
        <% @posts.each do |post| %>
          <%= render partial: "/posts/post", locals: { post: post }%>
        <% end %>
        <%= paginate(@posts) %> 
      </ul>
    </div>



    <div class="main-content__box">
      <p class="post-notion"> <%= @nickname %> さんがいいねしている投稿</p>
      <ul class="box-list">      
        <% @user.liked_posts.each do |post| %>
          <li class="box-list__image" style="background-image: url(<%= post.image %>);">
            <div class="box-list__image--text-contents">
              <span class="title">タイトル：
                <%= post.title %>
              </span>
              <div class="more"> 
                <span class="image_tag"><%= image_tag 'arrow_top.png' %></span>
                <ul class="more_list">
                  <li>
                    <%= link_to '詳細', "/posts/#{post.id}", class: "more_list__a-list" %>
                  </li>
                  <% if user_signed_in? && current_user.id == post.user_id %>
                    <li> 
                      <%= link_to '編集', "/posts/#{post.id}/edit", class: "more_list__a-list" %>
                    </li>
                    <li>
                      <%= link_to '削除', "/posts/#{post.id}", method: :delete, class: "more_list__a-list" %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <span class="name">
                <a href="/users/<%= post.user.id %>", class="name-link">
                  投稿者<br>
                  <%= post.user.nickname %>
                </a>
              </span>
            </div>
          </li>          
        <% end %>
        <%= paginate(@liked) %> 
      </ul>
      <span style="padding:0 120px 60px; float:right;"><%= link_to "投稿一覧へ戻る", "/posts", class:"back-to-toppage" %></span>
    </div>
  </div>
</div>