.main
  .main-top
    .main-top__box
      %p.main-top__box--todays-theme
        %span{style: "font-weight:bold;"}
          本日のテーマ『
          = @today_theme.name
          』
      = render partial: "/shared/clock"
    -# A ログイン中のユーザー ーーーーー
  - if user_signed_in?
    - if current_user.id == @user.id && @post.exists? # A_1 マイページ
      .user-show-top
        = render "profile"
        = render "todays_post"

      %h1.other-user-page__heading
        >
        %b #{@user.nickname}
        さんの投稿一覧
      %ul
        - if (@posts.count == 0)
          .no-posts-show
            まだ投稿がありません
        - else
          - @posts.each do |post|
            = render partial: "/posts/post", locals: { post: post }
          = paginate(@posts)

      = render "/shared/page_back"

    - elsif current_user.id == @user.id && @post.blank?
      .user-show-top
        = render "profile"
        .request-new-post
          本日まだ投稿していません
          %br
          投稿しますか？
          = link_to "はい", new_post_path
          ーー
          = link_to "投稿一覧へ戻る", "/posts", class:"back-to-toppage"

      %h1.other-user-page__heading
        >
        %b #{@user.nickname}
        さんの投稿一覧
      %ul
        - if (@posts.count == 0)
          .no-posts-show
            まだ投稿がありません
        - else
          - @posts.each do |post|
            = render partial: "/posts/post", locals: { post: post }
          = paginate(@posts)
      = render "/shared/page_back"


      
      -# A_2 他ユーザーのページ --------------------------
    -else
      .other-user-page
        = render "profile"
        %h1.other-user-page__heading
          >
          %b #{@user.nickname}
          さんの投稿一覧
        %ul
          - if (@posts.count == 0)
            .no-posts-show
              まだ投稿がありません
          - else
            - @posts.each do |post|
              = render partial: "/posts/post", locals: { post: post }
            = paginate(@posts)

      = render "/shared/page_back"




    -# B ログインしてないユーザー -----------------------------
  - else
    .other-user-page
      = render "profile"
      %h1.other-user-page__heading
        >
        %b #{@user.nickname}
        さんの投稿一覧
      %ul
        - if (@posts.count == 0)
          .no-posts-show
            まだ投稿がありません
        - else
          - @posts.each do |post|
            = render partial: "/posts/post", locals: { post: post }
          = paginate(@posts)

    = render "/shared/page_back"

