.main
  .main-top
    .main-top__box
      %p.main-top__box--todays-theme
        %span{style: "font-weight:bold;"}
          本日のテーマ『
          = @today_theme.name
          』
      = render partial: "/shared/clock"

  - if user_signed_in?
    - if current_user.id == @user.id
      .empty-box

      ユーザーマイページ
      .section-three
        .section-three__top#users-show
          %h1.todays-posts.sec3-text
            My Posts

        
        %ul.section-three__contents
          - if (@posts.count == 0)
            まだ投稿がありません
          - else
            - @posts.each do |post|
              = render partial: "/posts/post", locals: { post: post }
            = paginate(@posts)

      = link_to "Back", :back

    -else
      .empty-box

      = @user.nickname
      .section-three
        .section-three__top#users-show
          %h1.todays-posts.sec3-text
            = @user.nickname
            's Posts

        
        %ul.section-three__contents
          - @posts.each do |post|
            = render partial: "/posts/post", locals: { post: post }
          = paginate(@posts)
      = link_to "Back", :back

  - else
    .empty-box

    = @user.nickname
    .section-three
      .section-three__top#users-show
        %h1.todays-posts.sec3-text
          = @user.nickname
          's Posts

      
      %ul.section-three__contents
        - @posts.each do |post|
          = render partial: "/posts/post", locals: { post: post }

        = paginate(@posts)

    = link_to "Back", :back


    = link_to "投稿一覧へ戻る", "/posts", class:"back-to-toppage"
