.main-top__box
  %p.main-top__box--todays-theme
    %span{style: "font-weight:bold;"}
      本日のテーマ：
      = link_to theme_path(@today_theme.id), class: "theme-link" do
        %span.theme-tag.tag1
          = @today_theme.name  
  = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f|
    = f.text_field :keyword, placeholder: "投稿を検索する", type: 'text', required: true, class: "search-input"
    %span<>
    = button_tag type: :submit,class:"search-btn" do
      %i.fa.fa-search
  %span.limit
    ※投稿および投票締め切り本日24時
    %br
    %span#view_clock
      :javascript
        timerID = setInterval('clock()',500); //0.5秒毎にclock()を実行

        function clock() {
          document.getElementById("view_clock").innerHTML = getNow();
        }

        function getNow() {
          var now = new Date();
          var year = now.getFullYear();
          var mon = now.getMonth()+1;
          var day = now.getDate();
          var you = now.getDay();
          var hour = now.getHours();
          var min = now.getMinutes();
          var sec = now.getSeconds();

          var youbi = new Array("日","月","火","水","木","金","土");

          var s = year + "年" + mon + "月" + day + "日("+ youbi[you] +")" + hour + "時" + min + "分" + sec + "秒"; 
          return s;
        }

