.devise-view
  .devise-view__wrapper
    .action-title
      ログイン
    .action-contents
      .action-contents__forms
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-box
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-box__form"
          .input-box
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password", class: "input-box__form"
          - if devise_mapping.rememberable?
            .input-box
              = f.check_box :remember_me
              = f.label :remember_me
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: "sns_api facebook" do
            %i.fa.fa-facebook-square
            Facebookでログイン
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "sns_api google" do
            %i.fa.fa-google
            Googleでログイン
          .action-submit
            = f.submit "ログイン", class: "submit-btn"
          = render "devise/shared/links"
