<li class="box-list__image past-image" style="background-image: url(<%= post.image %>);">
  <div class="box-list__image--text-contents">
    <span class="title">
      テーマ　：<%= post.themes.first.name %><br>
      タイトル：<%= post.title %>
    </span>
    <div class="more"> 
      <span class="image_tag"><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '詳細', "/posts/#{post.id}", class: "more_list__a-list" %>
        </li>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <li> 
            <%= link_to '編集', "/posts/#{post.id}/edit", class: "more_list__a-list" %>
          </li>
          <li>
            <%= link_to '削除', "/posts/#{post.id}", method: :delete, class: "more_list__a-list" %>
          </li>
        <% end %>
      </ul>
    </div>
    <span class="iine-box">
      <span class="iine-count">いいねの数：<span style="font-size:22px; font-weight:bold;"><%= post.liked_users.count %></span></span>  
    </span>

    <span class="name">
      <a href="/users/<%= post.user.id %>", class="name-link">
        投稿者<br>
        <%= post.user.nickname %>
      </a>
    </span>

  </div>
</li>