.main
  .main-top
    .main-top__box
      %p.main-top__box--todays-theme
        本日のお題：
        %span{style: "font-weight:bold;"}
          『
          = @today_theme.name
          』
      = render partial: "/shared/clock"
  .empty-box
  .new-post
    .new-post__left-box
      = form_with(model: @post, local: true, class: "new-post__post-form") do |form|
        %p.action-post
          投稿を編集する
        .select-title
          テーマを選択してください
        = form.collection_select(:theme_ids, Theme.all, :id, :name, id: "select-box")
        .select-title
          タイトルを入力してください
        = form.text_field :title, placeholder: "タイトル", class:"post-title-form"
        .select-title
          画像ファイルを選択してください
        = form.file_field :image, class:"post-title-form"
        -# %span{style: "display:none;"}= form.datetime_select :start_time
        .post-submit
          = form.submit "SEND", action: "/posts", class: "post-submit-btn"


    - if @post.image.url.present?
      = image_tag(@post.image.url)