.main
  .main-top
    = render partial: "/shared/header_bottom"

  .mobile-new-post
    .mobile-new-post__wrapper
      .mobile-new-post__wrapper__create
        = form_with(model: @post, local: true, class: "new-post__post-form") do |form|


          - if @post.errors.any?
            %h3{style: "color: palevioletred;"} 入力内容に#{@post.errors.count}件のエラーがあります。
            - @post.errors.full_messages.each do |error|
              = error



          .mobile-new-post__wrapper__create__form
            テーマ
            %span.input-info.required-info
              必須
            = form.collection_select(:theme_ids, Theme.all, :id, :name, id: "select-box")
          .mobile-new-post__wrapper__create__form
            画像ファイル（アイコンをクリック）
            %span.input-info.required-info
              必須
          = form.file_field :image, type: "file", style: "display:none", class:"form-box", id: "mobile-new-img"
          .file-upload
            %label{for: "mobile-new-img"}
              = fa_icon "image", style: "font-size: 62px;", class: "file-upload__icon"
          %span.prev-msg
            プレビュー画面
          .prev-img-wrapper
            = image_tag asset_path("#{@post.image.url}"), id: "mobile-new-img_prev"
          .mobile-new-post__wrapper__create__form
            タイトル
            %span.input-info.required-info
              必須
          = form.text_field :title, autofocus: true, placeholder: "タイトル（必須）", class:"form-box", required: :true
          .mobile-new-post__wrapper__create__form
            メッセージ
            %span.input-info.optional-info
              任意
          = form.text_area :message, placeholder: "メッセージ(任意) 最大２５０文字", maxlength: "250", class:"form-box message-form-box"
          %span{style: "display:none;"}
            = form.datetime_select :start_time
          .post-submit
            = form.submit "更新する", class: "post-submit-btn"
