<div class="new-message">
  <%= form_with(model: @post, local: true, id: "message-form") do |form| %>
    <p class="text">
      編集する
    </p>
    <%# <%= form.text_field :name, placeholder: "Nickname" %>
    <%= form.text_field :title, placeholder: "タイトルを入力してください", id: "title" %>
    <%= form.text_field :image, placeholder: "画僧のUrlを挿入してください", id: "image" %>
    <%= form.submit "SEND", id: "submit-btn" %>
  <% end %>
</div>