<div class="main">
  <%# メインページ（テーマ） %>
  <div class="main-top">
    <div class="main-top__box">
      <p class="main-top__box--todays-theme"> 本日のお題：<span style="font-weight:bold;">『　<%= @today_theme.name %>　』</span></p>

      <%= render partial: "/shared/clock"%>


      <div class="new-message">
        <%= form_with(model: @post, local: true, id: "message-form") do |form| %>
          <p class="text">
            編集する
          </p>
          <form action="/users/"#{@post.id}" method="post" data-remote="true">

          <span class="select-theme">投稿するテーマを選択してください</span>
          <%= form.collection_select(:theme_ids, Theme.all, :id, :name, id: "select-box") %>
          <%= form.text_field :title, placeholder: "タイトルを入力してください", class:"form-style" %>
            <% if @post.image.url.present? %>
              <%= image_tag(@post.image.url) %>
            <%end%>
            


          <span style="display:none;"><%= form.datetime_select :start_time %></span>
          <%= form.submit "SEND", id: "submit-btn" %>
          <%= link_to "戻る", :back %>
        <% end %>
      </div>

    </div>
  </div>
</div>