.main
  .main-top
    = render partial: "/shared/header_bottom"


    -# ----------------------------------------------------------
  - if @best.present?
    = render partial: "best_post", locals: {post: @best}

  - else
    = render partial: "best_post", locals: {post: @best_one}

    -# ----------------------------------------------------------

  .section-four
    %ul.tab-group
      %li.tab.is-active
        今日の投稿
        .theme-link
          %span.theme-tag
            = @today_theme.name 

      %li.tab
        昨日の投稿
        .theme-link
          %span.theme-tag
            = @yesterday_theme.name 
      %li.tab
        過去の投稿
        
    .panel-group
      .panel.is-show
        - @today_posts.each do |post|
          = render partial: "post", locals: { post: post }
        .themes-pagenation
          ページ番号
          = paginate(@today_posts)
      .panel
        - @yesterday_posts.each do |post|
          = render partial: "post", locals: { post: post }
        .themes-pagenation
          ページ番号
          = paginate(@yesterday_posts)
      .panel
        - @old_posts.each do |post|
          = render partial: "post", locals: { post: post }
        .themes-pagenation
          ページ番号
          = paginate(@old_posts)

  = render "/shared/new_post"

  = render partial: "/shared/footer"
