.main
  .main-top
    .main-top__box
      %p.main-top__box--todays-theme
        %span{style: "font-weight:bold;"}
          本日のテーマ『
          = @today_theme.name
          』
      = render partial: "/shared/clock"

  - if @best.present?
    .section-one
      %span.section-one__notice-msg{style: "margin-top:80px; color:black;"}
        = notice
      %p.section-one__yesterdays-top
        %span.section-one__yesterdays-top__img-title
          = fa_icon "trophy", {style: "color: yellow;"}
          昨日の一枚  
      .section-one__main
        .section-one__main__left
          = link_to "#" do
            = image_tag asset_path("#{@best.first.image}"), class: "left-content-img"
        .section-one__main__right
          %p.yesterdays-top-img
            投稿詳細
          %ul.img-detail
            %li.img-detail__list
              テーマ：
              = link_to "/themes/#{@best.first.themes.first.id}", class: "theme-link" do
                %span.theme-tag.tag1
                  = @best.first.themes.first.name   
            %li.img-detail__list
              タイトル：
              = @best.first.title
            %li.img-detail__list
              メッセージ：
              = @best.first.message
            %li.img-detail__list
              投稿日：
              = @best.first.created_at.to_s(:datetime_jp)
            %li.img-detail__list
              投稿者：
              = link_to "#{@best.first.user.nickname}", "#", class: "name-link"
          .likes-favorites-box
            - if user_signed_in?
              - if current_user.already_liked?(@best.first)
                %span.likes-favorites-box__count-box.dismiss-like
                  = fa_icon "heart", class: "icon-heart"
                  = @likes
                %span.likes-favorites-box__count-box
                  = fa_icon "star", class: "icon-star"
                  5
              - else
                %span.likes-favorites-box__count-box
                  = fa_icon "heart", class: "icon-heart"
                  = @likes
                %span.likes-favorites-box__count-box
                  = fa_icon "star", class: "icon-star"
                  5
            - else
              %span.likes-favorites-box__count-box
                = fa_icon "heart", class: "icon-heart"
                = @likes
              %span.likes-favorites-box__count-box
                = fa_icon "star", class: "icon-star"
                5



    .section-two
    
      .section-two__left
        = @best.first.user.nickname
        さんの投稿
        %br
        投稿総数
        = @best.first.user.posts.count
        枚
      %ul.section-two__right
        - @best.first.user.posts.each do |best|
          %li.img-box
            = link_to "/posts/#{best.id}" do
              = image_tag asset_path("#{best.image}"), class: "img-box"


  .section-three
    .section-three__top
      %h1.todays-posts.sec3-text
        Today's Posts
      %p.posts-theme.sec3-text
        本日のテーマ
        %br
      %span.sec3-text
        = link_to "#", class: "theme-link" do
          %span.theme-tag
            = @today_theme.name 
    
    %ul.section-three__contents
      - if (@posts.count == 0)
        %p{style: "width: 200px; margin: 0 auto; text-align: center;"}
          まだ投稿はありません
      - else
        - @posts.each do |post|
          = render partial: "post", locals: { post: post }

        = paginate(@posts)

  = render "/shared/new_post"

  %footer.footer
    .footer__contents
      ここはフッターです
