- if @best.present?
  .best-shot-description
    = fa_icon "trophy"
    今日の一枚
    %span{style: "font-size:10px;color:lightgray;padding-left:10px;cursor:pointer;"} ※今日の一枚とは？

  .mobile-posts-index
    = image_tag asset_path(@best.image), class: "behind-img"
    .behind-boke
    .best-shot-img
      = link_to asset_path(@best.image), deta: {lightbox: "todays-post"}, data: {title: "今日の一枚[タイトル：#{@best.title} 投稿者：#{@best.user.nickname}]"}, rel: "lightbox", class: "best-shot-img-link" do
        = image_tag asset_path(@best.image), class: "best-shot-img__prev"
      .best-shot-img__like-fav-counts
        %i.fa.fa-heart.best-shot-img__like-fav-counts__likes
          = @best.likes.count
        %i.fa.fa-star.best-shot-img__like-fav-counts__favs
          = @best.favorites.count

  %button.open-details{ type: "button" }
    %span.open-text
      投稿詳細を見る
      %br
      %i.fa.fa-chevron-down

  .best-shot-details-show
    %ul.best-shot-details-show__lists
      %li テーマ：#{@best.themes.first.name}
      %li タイトル：#{@best.title}
      %li メッセージ：#{@best.message}
      %li 投稿日：#{@best.created_at.to_s(:datetime_jp)}
      %li.display-inline 投稿者：
      = link_to "#{@best.user.nickname}", user_path(@best.user.id)
      %li 投稿総数：#{@best.user.posts.count}
- else
  .best-shot-description
    = fa_icon "trophy"
    今日の一枚
    %span{style: "font-size:10px;color:lightgray;padding-left:10px;cursor:pointer;"} ※今日の一枚とは？

  .mobile-posts-index

    = image_tag asset_path("#{@best_one.image}"), class: "behind-img"
    .behind-boke
    .best-shot-img
      = link_to post_path(@best_one.id), class: "best-shot-img-link" do
        = image_tag asset_path("#{@best_one.image}"), class: "best-shot-img__prev"
      .best-shot-img__like-fav-counts
        %i.fa.fa-heart.best-shot-img__like-fav-counts__likes
          = @best_one.likes.count
        %i.fa.fa-star.best-shot-img__like-fav-counts__favs
          = @best_one.favorites.count

  %button.open-details{ type: "button" }
    %span.open-text
      投稿詳細を見る
      %br
      %i.fa.fa-chevron-down

  .best-shot-details-show
    %ul.best-shot-details-show__lists
      %li テーマ：#{@best_one.themes.first.name}
      %li タイトル：#{@best_one.title}
      %li メッセージ：#{@best_one.message}
      %li 投稿日：#{@best_one.created_at.to_s(:datetime_jp)}
      %li.display-inline 投稿者：
      = link_to "#{@best_one.user.nickname}", user_path(@best_one.user.id)
      %li 投稿総数：#{@best_one.user.posts.count}

.mobile-main
  .mobile-main__posts
    %ul.mobile-tab-group
      %li.mobile-tab.is-mobile-active
        今日の投稿
        .theme-link
          %span.theme-tag#theme-tag
            = @today_theme.name 
      %li.mobile-tab
        昨日の投稿
        .theme-link
          %span.theme-tag#theme-tag
            = @yesterday_theme.name 
      %li.mobile-tab
        過去の投稿
        
    .mobile-panel-group
      .mobile-panel.is-mobile-show
        - @today_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@today_posts)
      .mobile-panel
        - @yesterday_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@yesterday_posts)
      .mobile-panel
        - @old_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@old_posts)
.mobile-footer
  .mobile-footer__contents
    .mobile-footer__contents__developer-msg
      %h3.mobile-footer__contents__developer-msg--heading ONE DPC (One Day Photo Contest) アプリ概要
      %p.mobile-footer__contents__developer-msg--contest-description
        カメラ初心者、アマチュア写真愛好家向けのフォトコンテストアプリ。
        ONE DPCとは one Day, one Photo, one Contest の略であり、一日限定フォトコンテストの意味。
        %br
        %br
        ルールは以下の通り。
        %br
        ①ユーザーがその日のテーマに合わせて写真を投稿。
        %br
        ②投稿へのいいねの数がその日一番多い画像がコンテストの優勝作品となり、翌日の「今日の一枚」として表示される。
        %br
      %ul.mobile-footer__contents__developer-msg--links
        %li
          公開中
          = link_to "開発者のポートフォリオサイト", "https://zen-stonebraker-c82f4a.netlify.com/"
    %bottun.mobile-inquiry-form-description
      お問い合わせフォーム
    .mobile-inquiry-form-wrapper
      %form{action: "https://api.staticforms.xyz/submit", method: :post, class: "mobile-inquiry-form"}
        %h4.mobile-inquiry-form__title お名前
        %input{name: "name", placeholder: "", type: "text", class: "mobile-inquiry-form__input", required: true}
        %h4.mobile-inquiry-form__title メールアドレス
        %input{name: "email", placeholder: "", type: "text", class: "mobile-inquiry-form__input", required: true}
        %h4.mobile-inquiry-form__title メッセージ
        %textarea{name: "message", placeholder: "", class: "mobile-inquiry-form__input", required: true}
        %input{name: "honeypot", style: "display:none", type: "text", class: "mobile-inquiry-form__input"}
        %input{name: "accessKey", type: "hidden", value: "a11fa1c6-a381-4734-9057-443a8d60c397", class: "mobile-inquiry-form__input"}
        %input{name: "subject", type: "hidden", value: "Contact us from - example.com", class: "mobile-inquiry-form__input"}
        %input{name: "replyTo", type: "hidden", value: "@", class: "mobile-inquiry-form__input"}
        %input{name: "redirectTo", type: "hidden", value: "http://3.115.17.18:4000/posts/thanks", class: "mobile-inquiry-form__input"}
        %input{type: "submit", value: "送信", class: "mobile-inquiry-form__submit"}



