.main
  .main-top
    = render partial: "/shared/header_bottom"


    -# ----------------------------------------------------------
  - if @best.present?
    = render partial: "best_post", locals: {post: @best}

  - else
    = render partial: "best_post", locals: {post: @best_one}

    -# ----------------------------------------------------------


  .section-three
    .section-three__top
      %h1.todays-posts.sec3-text
        Today's Posts
      %p.posts-theme.sec3-text
        本日のテーマ
        %br
      %span.sec3-text
        = link_to "#", class: "theme-link" do
          %span.theme-tag
            = @today_theme.name 




  .section-four
    %ul.tab-group
      %li.tab.is-active
        今日の投稿
        .theme-link
          %span.theme-tag
            = @today_theme.name 

      %li.tab
        昨日の投稿
        .theme-link
          %span.theme-tag
            = @yesterday_theme.name 
      %li.tab
        過去の投稿
        
    .panel-group
      .panel.is-show
        - @today_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@today_posts)
      .panel
        - @yesterday_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@yesterday_posts)
      .panel
        - @old_posts.each do |post|
          = render partial: "post", locals: { post: post }
        = paginate(@old_posts)

  = render "/shared/new_post"

  = render partial: "/shared/footer"
