<div class="main">
  <%# メインページ（テーマ） %>
  <div class="main-top">
    <div class="main-top__box">
      <p class="main-top__box--todays-theme"> 本日のお題：<span style="font-weight:bold;">『　<%= @today_theme.name %>　』</span></p>

      <%= render partial: "/shared/clock"%>



    </div>
  </div>


 <p id="notice" style="margin-top:120px; color:black;"><%= notice %></p>


  <%# メインページ（コンテント） %>
  <div class="main-content">
    <div class="main-content__box">
      <ul class="box-list">
        <% @posts.each do |post| %>
          <div class="additional"> 
            <% if post.themes.first.id != @today_theme.id %>
              <span class="theme wrong">⚠️本日のお題（テーマ）を確認してください⚠️</span>
            <% else %>
              <span class="theme right"><%=@today_theme.name%> </span>
            <% end %>
            <%= render partial: "post", locals: { post: post }%>
          </div>
        <% end %>
        <%= paginate(@posts) %>
      </ul>
      <p class="text-content", style="margin-bottom: 200px;"></p>
    </div>
  </div> 
</div>
<footer class="footer">
  <div class="footer__box">
    <p class="footer__box--logo">ONE Day Photo Contest</p>
  </div>
</footer>