<div class="main">
  <%# メインページ（テーマ） %>
  <div class="main-top">
    <div class="main-top__box">
      <p class="main-top__box--todays-theme"> 過去の投稿一覧</p>
      

      <%= render partial: "/shared/clock"%>

    </div>
  </div>

<%# ------------------------ カレンダー（はじめ）------------------------- %>
<div class="", style="width:800px; padding-top:120px; margin:0 auto;">

  <h1>過去の投稿 <span><%= link_to "テーマ一覧はこちら", "/themes" %></span></h1>
  

    <%# <tbody> %>
      <%# <% @posts.each do |post| %>
        <%# <tr> %>
          <%# <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") タイトル:<%= post.title %</td> %>
          <%# <td><%= link_to 'Show', post %</td> %>
        <%# </tr><br> %>
      <%# <% end % %>
    <%# </tbody> %>
  <%# </table> %>

  <br>

  <%= month_calendar events: @posts do |date, posts| %>
    <% if date.wday == 0 %>
    <a href="/posts/search", id="theme-link", class="sun">
      <%= date.day %>
    </a>
    <br>
    <span><%= @theme.first.name %></span>
    <% elsif date.wday == 6 %>
    <a href="/themes", id="theme-link", class="sat">
      <%= date.day %>
    </a>
    <br>
    <span><%= @theme.find(date.day).name %></span>
    <% else %>
    <a href="/themes", id="theme-link", class="not_holiday">
      <%= date.day %>
    </a>
    <br>
    <span><%= @theme.find(date.day).name %></span>
    <% end %>

    <% posts.first(3).each do |post| %>
      <div class="post-title-box">
        <%= link_to post.title, post, class: "post-title-a-day"%>
      </div>
    <% end %>

  <% end %>
</div>
<%# ------------------------ カレンダー（おわり）------------------------- %>

  <%# メインページ（コンテント） %>
  <div class="main-content">
    <div class="main-content__box">
      <ul class="box-list">
        <% @posts.each do |post| %>
        
            <%= render partial: "post", locals: { post: post }%>

        <% end %>
        <%= paginate(@posts) %>
      </ul>
    </div>
  </div>
  <%= link_to "メインページへ戻る", "/posts", class:"top-page" %>

</div>