.mains
  .mains-top
    .mains-top__box
      %p.mains-top__box--todays-theme
        %span{style: "font-weight:bold;"}
          = @today_theme.name
      = render partial: "/shared/clock"
  .ranks-content
    .ranks-content__box
      %ul.box-list
        - if @all_ranks.empty?
          %p 
        - elsif @all_ranks.length == 1
          .first-box
            %span{style: "font-size:30px; font-weight:bold; color:gold;text-shadow:1px 1px 1px gray; height"}
            %li.first-box__image.rank-first{style: "background-image: url("}
            = @rank_first.image
            .rank-first--contents
              %span.title
                = @rank_first.themes.first.name
                %br
                = rank_first.title
                .more
                  %span.image_tag
                    = image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細', "/posts/#{@rank_first.id}", class: "more_list__a-list"
                    - if user_signed_in?  && current_user.id == @rank_first.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_first.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_first.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_first.liked_users.count
                %span.name
                  = link_to "#{@rank_first.user.niakname}", "/users/#{@rank_first.user.id}", class: "name-link"
        - elsif @all_ranks.length == 2
          .first-box
            %span{style: "font-size:30px; font-weight:bold; color:gold;text-shadow:1px 1px 1px gray; height"}
            %li.first-box__image.rank-first{style: "background-image: url("}
              = @rank_first.image
            .rank-first--contents
              %span.title
                = @rank_first.themes.first.name
                %br
                = @rank_first.title
                .more
                  %span.image_tag
                    = image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細', "/posts/#{@rank_first.id}", class: "more_list__a-list"
                    - if user_signed_in?  current_user.id == @rank_first.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_first.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_first.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_first.liked_users.count
                %span.name
                  = link_to "#{@rank_first.user.niakname}", "/users/#{@rank_first.user.id}", class: "name-link"
          .second-box
            %span{style: "font-size:20px; font-weight:bold; color:silver;text-shadow:1px 1px 1px gray; height"}
            %li.second-box__image.rank-other{style: "background-image: url("}
            = @rank_second.image
            .rank-other--contents
              %span.title
                = @rank_second.themes.first.name
                %br
                = @rank_second.title
                .more
                  %span.image_tag= image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細', "/posts/#{@rank_second.id}", class: "more_list__a-list"
                    - if user_signed_in?  && current_user.id == @rank_second.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_second.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_second.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_second.liked_users.count
                %span.name
                  = link_to "#{@rank_second.user.niakname}", "/users/#{@rank_second.user.id}", class: "name-link"
          %p{style: "margin-top: 20px;"}
        - else @all_ranks.length == 3
          .first-box
            %span{style: "font-size:30px; font-weight:bold; color:gold;text-shadow:1px 1px 1px gray; height"} &#x7B2C;&#x4E00;&#x4F4D;
            %li.first-box__image.rank-first{style: "background-image: url("}
            = @rank_first.image
            .rank-first--contents
              %span.title
                = @rank_first.themes.first.name
                %br
                = @rank_first.title
                .more
                  %span.image_tag= image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細'," /posts/#{@rank_first.id}", class: "more_list__a-list"
                    - if user_signed_in?  && current_user.id == @rank_first.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_first.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_first.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_first.liked_users.count
                %span.name
                  = link_to "#{@rank_first.user.niakname}", "/users/#{@rank_first.user.id}", class: "name-link"
          .second-box
            %span{style: "font-size:20px; font-weight:bold; color:silver;text-shadow:1px 1px 1px gray; height"}
            %li.second-box__image.rank-other{style: "background-image: url("}
            = @rank_second.image
            .rank-other--contents
              %span.title
                = @rank_second.themes.first.name
                %br
                = @rank_second.title
                .more
                  %span.image_tag= image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細', "/posts/#{@rank_second.id}", class: "more_list__a-list"
                    - if user_signed_in?  && current_user.id == @rank_second.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_second.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_second.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_second.liked_users.count
                %span.name
                  = link_to "#{@rank_second.user.niakname}", "/users/#{@rank_second.user.id}", class: "name-link"
            %span{style: "font-size:20px; font-weight:bold; color:#7A592F; text-shadow:1px 1px 1px gray; height"}
            %li.second-box__image.rank-other{style: "background-image: url("}
            = @rank_third.image
            .rank-other--contents
              %span.title
                = @rank_third.themes.first.name
                %br
                = @rank_third.title
                .more
                  %span.image_tag= image_tag 'arrow_top.png'
                  %ul.more_list
                    %li
                      = link_to '詳細', "/posts/#{@rank_third.id}", class: "more_list__a-list"
                    - if user_signed_in?  && current_user.id == @rank_third.user_id
                      %li
                        = link_to '編集', "/posts/#{@rank_third.id}/edit", class: "more_list__a-list"
                      %li
                        = link_to '削除', "/posts/#{@rank_third.id}", method: :delete, class: "more_list__a-list"
                %span.iine-box
                  %span.iine-count
                    %span{style: "font-size:22px; font-weight:bold;"}
                      = @rank_third.liked_users.count
                %span.name
                  = link_to "#{@rank_third.user.niakname}", "/users/#{@rank_third.user.id}", class: "name-link"
