.main
  .main-top
    = render partial: "/shared/header_bottom"
  %p#notice{style: "margin-top:120px; color:black;"}= notice
  .main-content
    .main-content__box
      .search-description
        検索キーワード：
        %span.search-keyword{style: "font-weight:bold;"} #{@keyword}
        の検索結果
      %ul.box-list
        - unless @posts.empty?
          - @posts.each do |post|
            = render partial: "post", locals: { post: post }
        - else
          タイトル：
          %span{style: "font-weight:bold;"} #{@keyword}
          に該当する投稿はありません。
