.main
  .main-top
    = render partial: "/shared/header_bottom"

  .post-show-top
    .post-show-wrapper
      %h2.post-show-wrapper__img-description
        #{@post.user.nickname}さんの投稿
      .post-contents
        .post-contents__img
          = image_tag asset_path("#{@post.image}"), class: "post-contents__img--prev"
        .post-contents__details
          %h3.post-contents__details__heading
            投稿詳細
          %ul.post-contents__details__lists
            %li.post-contents__details__lists--a-list
              テーマ：
              = link_to "/themes/#{@post.themes.first.id}", class: "theme-link" do
                %span.theme-tag.tag1
                  = @post.themes.first.name   
            %li.post-contents__details__lists--a-list
              タイトル：
              = @post.title
            %li.post-contents__details__lists--a-list
              メッセージ：
              = simple_format(@post.message)
            %li.post-contents__details__lists--a-list
              投稿日：
              = @post.created_at.to_s(:datetime_jp)
            %li.post-contents__details__lists--a-list
              投稿者：
              = link_to "#{@post.user.nickname}", "/users/#{@post.user.id}", class: "name-link"
            - if user_signed_in? && current_user.id == @post.user_id
              %li.post-contents__details__lists--a-list
                = link_to '編集する', "/posts/#{@post.id}/edit", method: :get, class: "my-post-list"
              %li.post-contents__details__lists--a-list
                = link_to '削除する', "/posts/#{@post.id}", method: :delete, class: "my-post-list"


          = render "/likes/likes_favorites"

      .comments-wrapper
        .comment-box
          - if user_signed_in?
            = form_with(model: [@post, @comment], class: "comment-box__form", remote: true) do |form|
              = form.text_area :comment, placeholder: "コメントする"
              .submit-box
                = form.submit "SEND", class: "submit-box__send-btn"
          - else
            %strong
              %p{style: "text-align:center;"} ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
        .comments-index
          %h3.comments-index__heading ＜コメント一覧＞
          .comments
            - @comments.each_with_index do |comment, i|
              %p
                %strong
                  = link_to comment.user.nickname, "/users/#{comment.user_id}"
                  ：
                = comment.comment
                - if user_signed_in? && current_user.id == comment.user.id
                  = link_to "削除", "/posts/#{comment.post_id}/comments/#{comment.id}",data: {index: i}, method: :delete, class: "comment-delete-btn"
      

