<div class="show">
  <div class="show__details">


  <%# ーーーーーーー　写真一枚（start）　ーーーーーーー %>
    <div class="show__details__image" style="background-image: url(<%= @post.image %>);">
      <div class="show__details__image--text-contents">
        <span class="show-title">
          テーマ　：<%= @post.themes.first.name %><br>
          タイトル：<%= @post.title %>
        </span>
        <div class="show-more">
          <span class="show-image_tag"><%= image_tag 'arrow_top.png' %></span>
          <ul class="show-more_list">
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <li>
                <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get, class: "show-more_list__a-list" %>
              </li>
              <li>
                <%= link_to '削除', "/posts/#{@post.id}", method: :delete, class: "show-more_list__a-list" %>
              </li>
            <% end %>
          </ul>
        </div>
        <span class="iine-box">
          <% if user_signed_in? %>
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <span class="iine-count">いいねの数：<span style="font-size:22px; font-weight:bold;"><%= @likes_count %></span></span>  
            <% elsif current_user.already_liked?(@post) %>
              <%# <% if current_user.likes.find_by(post_id: @post.id) %> 
              <%= link_to "いいねを取り消す", post_like_path(@post), method: :delete, class: "like iine" %>
              <br>
              <span class="iine-count">いいねの数：<span style="font-size:22px; font-weight:bold;"><%= @likes_count %></span></span>  
            <% else %>
              <%= link_to "いいねを押す", post_likes_path(@post), method: :post, class: "like dislike" %>
              <br>
              <span class="iine-count">いいねの数：<span style="font-size:22px; font-weight:bold;"><%= @likes_count %></span></span>  
            <% end %>
          <% else %>
            <span class="iine-count">いいねの数：<span style="font-size:22px; font-weight:bold;"><%= @likes_count %></span></span>  
          <%end%>
        </span> 
        <span class="show-name">
          <a href="/users/<%= @post.user.id %>", class="show-name-link">
            投稿者<br>
            <%= @post.user.nickname %>
          </a>
        </span>

      </div>
    </div>
  <%# ーーーーーーー　写真一枚（end）　ーーーーーーー %>


    投稿日時：<%= @post.start_time.strftime("%Y-%m-%d %H:%M") %>
    <%= link_to "戻る", :back %>

    <p style="margin-top:20px;">いいねしたユーザー</p>
    <% @post.liked_users.each do |user| %>
      <li class="user-list"><%= user.nickname %></li>
      <% end %>
    <div class="comment-box">
      <% if current_user %>
        <%= form_with(model: [@post, @comment], class: "comment-box__form", local: true) do |form| %>
          <%= form.text_area :comment, placeholder: "コメントする", rows: "2" %>
          <div class="submit-box">
            <%= form.submit "SEND", class: "submit-box__send-btn" %>
          </div>
        <% end %>
      <% else %>
        <strong><p style="text-align:center;">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.comment %>
          </p>
        <% end %>
      <% end %>
    </div>
    <%= link_to "投稿一覧へ戻る", "/posts", class:"back-to-toppage" %>
  </div>
</div>