.main
  .main-top
    .main-top__box
      %p.main-top__box--todays-theme
        %span{style: "font-weight:bold;"}
          本日のテーマ『
          = @today_theme.name
          』
      = render partial: "/shared/clock"

  .post-show-top
    .post-show-wrapper
      %h2.post-wrapper__img-description           
        #{@post.user.nickname}さんの投稿
      .post-contents
        .post-contents__img
          = image_tag asset_path("#{@post.image}"), class: "post-contents__img--prev"
        .post-contents__details
          %h3.post-contents__details__heading
            投稿詳細
          %ul.post-contents__details__lists
            %li.post-contents__details__lists--a-list
              テーマ：
              = link_to "/themes/#{@post.themes.first.id}", class: "theme-link" do
                %span.theme-tag.tag1
                  = @post.themes.first.name   
            %li.post-contents__details__lists--a-list
              タイトル：
              = @post.title
            %li.post-contents__details__lists--a-list
              メッセージ：
              = @post.message
            %li.post-contents__details__lists--a-list
              投稿日：
              = @post.created_at.to_s(:datetime_jp)
            %li.post-contents__details__lists--a-list
              投稿者：
              = link_to "#{@post.user.nickname}", "/users/#{@post.user.id}", class: "name-link"
            - if user_signed_in? && current_user.id == @post.user_id
              %li.post-contents__details__lists--a-list
                = link_to '編集する', "/posts/#{@post.id}/edit", method: :get, class: "my-post-list"
              %li.post-contents__details__lists--a-list
                = link_to '削除する', "/posts/#{@post.id}", method: :delete, class: "my-post-list"


          = render "/likes/likes_favorites"
      -# - if user_signed_in? && current_user.id == @post.user_id #マウスオーバーするまで隠す
      -#   .liked-users
      -#     %ul.liked-users__list
      -#       いいねしたユーザー
      -#     - @post.liked_users.each do |user|
      -#       %li.liked-users__list--a-list
      -#         = link_to "#{user.nickname}", user_path(user.id)
  = render "/shared/page_back"

  .comments-wrapper
    .comment-box
      - if current_user
        = form_with(model: [@post, @comment], class: "comment-box__form", local: true) do |form|
          = form.text_area :comment, placeholder: "コメントする", rows: "2"
          .submit-box
            = form.submit "SEND", class: "submit-box__send-btn"
      - else
        %strong
          %p{style: "text-align:center;"} ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    %h3.comments__heading ＜コメント一覧＞
    .comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
          = comment.comment
          - if current_user.id == comment.user.id
            %span= link_to "削除", "/posts/#{comment.post_id}/comments/#{comment.id}", method: :delete
      

