<!DOCTYPE html>
<html>
  <head>
    <title>OneDPC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__box">
        <%= link_to "ONE DPC", "/posts", class: "header__box--logo" %>
        <ul class="header__box__links">
          <li><%= link_to "New Post", "/posts/new", class: "header__box__links__row" %></li>
          <li><%= link_to "Sign In", "#", class: "header__box__links__row" %></li>
          <li><%= link_to "Previous Posts", "#", class: "header__box__links__row" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="footer__box">
        <p class="footer__box--logo">ONE Day Photo Contest</p>
      </div>
    </footer>
  </body>
</html>
